.previewImage {
    transition: all 0.5s ease-out;
    width: 100%;
}

.previewImage p {
    color: hsl(0, 0%, 76%);
}


.buttons {
    justify-self: end;
    display: grid;
    grid-gap: 0.5rem;
}

.buttons a {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: hsl(0, 0%, 33%);
    color: white;
    font-size: 0.75rem;

    text-decoration: none;
}

.articleButton:hover {
    background-color: hsl(0, 87%, 76%);
}

.codeButton:hover {
    background-color: hsl(202, 67%, 71%);
}

.wrapper {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.wrapper:hover .previewImage {
    transform: scale(1.1);
    transition: all 5s ease-out;
}

.wrapper:hover .metadata {
    color: white;
}

.wrapper p {
    color: white;
}