
.project {
    height: 250px;
    position: relative;
    overflow: hidden;
}

/* .project:hover {
    box-shadow: 0px 0px 0px 3px hsl(215deg 64% 60%);
    z-index: 1;
} */

.project img {
    transition: all 0.5s ease-out;
}

.project:hover img {
    transform: scale(1.1);
    transition: all 5s ease-out;
}

.project .metadata {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 1rem;
    color: hsl(0, 0%, 85%);
    background-color: hsla(0, 0%, 0%, 0.6);

    display: grid;
    grid-gap: 0.5rem;
}

.project:hover .metadata {
    color: white;
}
.project .metadata p {
    color: hsl(0, 0%, 76%);
}
.project:hover .metadata p {
    color: white;
}

.metadata {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;

    align-items: end;
}

.metadata h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.metadata p {
    margin: 0;
    padding: 0;

    font-size: 0.75rem;
}

.buttons {
    justify-self: end;

    display: grid;
    grid-gap: 0.5rem;
}

.buttons a {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: hsl(0, 0%, 33%);
    color: white;
    font-size: 0.75rem;

    text-decoration: none;
}

.button-article:hover {
    background-color: hsl(0, 87%, 76%);
}

.button-code:hover {
    background-color: hsl(202, 67%, 71%);
}



