header {
  padding: 2rem;

}

footer {
  padding: 2rem;
}

.app {
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

main {
  background-color: rgba(0,0,0,0.2);
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.photo {
  border-radius: 50%;
  background-color: grey;
  width: 75px;
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 2rem;

  font-size: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  padding-bottom: 2rem;
}