header {
  padding: 1rem;
}

footer {
  padding: 2rem;
}

.app {
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

main {
  background-color: hsl(197, 6%, 22%);
}

.wrapper {
  margin: 0 auto;
  width: 1400px;
}

.photo {
  border: 4px solid hsl(192, 48%, 62%);
  border-radius: 50%;
  background-color: grey;
  width: 82px;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.name {
  margin-right: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  padding-bottom: 2rem;
}

.footer a {
}

.footer a:visited {
  color: black;
}

.links {
  font-size: 1rem;
  color: hsl(0, 0%, 30%);
  margin-left: auto;
}

.links a {
  color: hsl(224, 51%, 32%);
}

dl {
  display: grid;
  grid-template: auto / max-content max-content;
  grid-gap: 0 1rem;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin :0;
}